* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.outer {
    width: 80%;
    height: 600px;
    border: 1px solid brown;
}

header {
    background-color: #6ec8eb;
    height: 70px;
    border-bottom: 4px dotted white;
}

header h1 {
    position: fixed;
    top: 15px;
    right: 183px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px #2f60e2;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav {
    position: fixed;
    top: 12px;
    left: 191px;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.level1 li:hover {
    background-color: red;
}

.level2 {
    display: none;
    margin-top: 10px;
    margin-left: -10px;
}

.level1 li:hover .level2 {
    display: block;
    position: absolute;
}

.level2 li {
    width: 300px;
    background-color: #13b561;
    padding: 5px;
}

.level2 li a:hover {
    color: rgb(70, 48, 48);
    text-decoration: none;
    font-size: 25px;
}


/* ////////////////////////////////////////////// */

section {
    background-color: #6cc5ef;
    width: 50%;
    float: left;
    height: 480px;
    border-bottom: 4px dotted white;
}

section h1 {
    padding: 30px;
    color: white;
    font-size: 25px;
    padding-left: 8px;
    padding-bottom: 16px;
}

.txt_article {
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}

.form_inf {
    padding-left: 100px;
    color: white;
}

.frm_title {
    width: 100%;
    float: left;
    margin: 5px;
}

.frm_title select {
    border-radius: 5px;
    position: fixed;
    top: 244px;
    left: 505px;
    text-align: center;
}

.frm_input input {
    border-radius: 5px;
    width: 50%;
    float: right;
    margin: 5px;
}

.frm_input label {
    width: 40%;
    float: left;
    margin: 5px;
}

.frm_btn {
    border: 2px dotted #495da0;
    font-weight: bold;
    margin: 2px;
}

.frm_button {
    position: fixed;
    top: 520px;
    left: 505px;
}

.frm_input textarea {
    border-radius: 10px;
    width: 50%;
    float: right;
    margin: 5px;
}


/* ///////////////////////////////////////////////////// */

aside {
    background-color: #6cc5ef;
    width: 50%;
    float: left;
    height: 480px;
    border-bottom: 4px dotted white;
}

aside img {
    width: 30%;
    position: fixed;
    top: 105px;
    right: 251px;
}

aside h1 {
    position: fixed;
    bottom: 250px;
    right: 450px;
    color: #0002fd;
    text-shadow: 2px 2px #0002fd;
}

aside h3 {
    position: fixed;
    bottom: 220px;
    right: 220px;
    color: #0002fd;
}


/* /////////////////////////////////////////////// */

footer {
    line-height: 25px;
    background-color: #5ba3ef;
    text-align: center;
    font-weight: bold;
    color: white;
}